/* shared style */

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-color-2{
    color: rgba(0, 0, 0, 0.5);
}
.primary-color-3{
    color: #E95A08;
}

*{
    margin: 0;
    padding: 0;
}
.nav-link-color-1{
    color: #8987A1;
}
.bold{
    font-weight: 700;
}


/* nav styles */
.header{
    max-width: 1440px;
    margin: 10px auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav img{
    max-width: 135px;
}
.navbar-elements{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-links ul{
    display: flex;
    gap: 3rem;
}
.nav-links ul li{
    list-style: none;
    font-size: 1.3rem;
}
.cart{
    font-size: 1.3rem;
}

/* banner style */
.banner{
    margin-top: 9.5rem;
    margin-bottom: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.banner-title{
    font-size: 4rem;
}
.banner-desc p{
    font-size: 1.3rem;
}

/* inside body */
.body{
    max-width: 1440px;
    margin: 10px auto;
}

/* Our plants */

.plant-heading{
    text-align: center;
    max-width: 55rem;
    margin: 0 auto;
}
.plant-title h2{
    font-size: 3.1rem;
}

/* card styles */

/* ekhane kisu ekta hoy ni */
.card{  
    width: 22rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap:0.6rem;
    align-items: center;
}
.card img{
    width: 100%;
}
.card-name{
    font-size: 1.3rem;
    font-weight: 500;
}
.flower-price{
    font-size: 1.3rem;
}
.cart_btn{
    width: 100%;
    color: white;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3.6rem;
    border: none;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* plant lovers  */
.plant-lovers{
    margin-top: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: calc(100% - (2*540px)); */
    position: relative;
}
#flower-store{
    width: 540px;
}
#trust-badge{
    width: 286px;
    position: absolute;
    margin-left: 370px;
    top: -110px;
}

.plant-lovers-desc{
    width: 540px;
}
.plant-lovers-title{
    font-size: 50px;
}
.plant-lovers-desc p{
    font-size: 22px;
}


/* Latest deals style */

.latest-deals{
    text-align: center;
    margin-top: 133px;
}
.latest-deals-title{
    font-size: 50px;
    margin-bottom: 10px;
}
.latest-deals-desc{
    font-size: 22px;
}

/* discount section */

.discount{
    margin-top: 120px;
    display: flex;
    height: 423px;
    gap: 20px;
    display: none;
}
.discount-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discount-1 img{
    border-radius: 14px;
}
.discount-2{
    width: 100%;
    border-radius: 22px;
    position: relative;
}


/* news letter */
footer{
    width: 1144px;
    margin: 0 auto;
}
.news-letter{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 540px;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.news-letter-title{
    font-size: 50px;
    color: white;
}
.news-letter input{
    width: 644px;
    height: 50px;
    font-size: 16px;

}
.news-letter button{
    height: 50px;
    width: 186px;
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.news-letter > div{
    display: flex;
    align-items: center;
}